<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cats</title>
 </head>

 <body>
    <h1>hjhjvyukiuhhjbjhbg </h1>  
    <ul>
      <h2> <% for ( let hello of cats ) { %> </h2>
      <li> <%= hello %> </li>
      <% } %> 
   </ul>
      
 </body>

</html>