<!DOCTYPE html> 
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale  = 1.0">
    <title>COMMENTS INDEX</title>
 </head>
 <body>
    <h1>Comments</h1>
    <ul>
        <% for( let c of comments) {%>
            <li> 
                <%= c.comment %> - <%= c.username %> 
                <a href="/comments/<%= c.id %> " >details</a>
            </li>
        <% } %>
    </ul>
    <a href="/comments/new"> Click here to create new comment</a>
    <br>
    <a href="/"> Click here to go to home page</a>
    <br>

    
 </body>
</html>